*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.main-header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 530px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;

}

.main-header h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 40px;
    -webkit-text-stroke: 1px black;
    margin-bottom: 30px;
}

.main-header button{
    background-color: blue;
    color: white;
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 1s;
}

.main-header button:hover{
    background-color: cornflowerblue;
}

.secciones{
    padding: 7vh 20px;
    text-align: center;
    background-color: white;
}

.secciones h2{
    font-size: 32px;
    color:brown;
    margin-bottom: 60px;
}

.secciones-texto{
    display: flex;
    justify-content: space-around;  
    flex-wrap: wrap;
}

.secciones-texto div{
    background-color: chocolate;
    border-radius: 10px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:30%;
}

.texto h3{
    font-size: 24px;
    color:brown;
    margin-bottom: 25px;
}

.texto p{
    font-size: 18px;
    color:white;
}

footer{
    background-color: brown;
    color: whitesmoke;
    text-align: center;
    position: relative;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
}